.randomSpinWheel {
    position: absolute;
    z-index: 5;
    font: 1.5em/0 sans-serif;
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30%;
    color: #fff;
    box-shadow: 0 0 0 8px #fff, 0 0px 15px 5px rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    transition: background-color 0.3s;
    text-align: center;
}

.randomSpinWheel::after {
    content: "";
    position: absolute;
    top: -17px;
    left: 50%;
    transform: translateX(-50%);
    /* Create the triangle shape using borders. */
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: currentColor;
    border-top: none;
}